PORT=443 # to run it without sudo rights change this to something above 1000 
MAX_USERS=100

POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=transcendence_db
POSTGRES_ADDRESS=db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_ADDRESS}:5432/${POSTGRES_DB}

JWT_SECRET=your-secure-random-secret-here
INTERNAL_SECRET=your-secure-internal-secret-here
SERVICE_URL_NEXTJS=https://localhost
NEXT_PUBLIC_GAMESERVER_URL=https://localhost
GAME_TIMED_MODE_SECONDS=600

FORTYTWO_CLIENT_ID=forty-two-client-id
FORTYTWO_CLIENT_SECRET=forty-two-client-secret
FORTYTWO_REDIRECT_URI=https://localhost/api/auth/42/callback
