PORT=443 # to run it without sudo rights change this to something above 1000 

POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=transcendence_db
POSTGRES_ADDRESS=db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_ADDRESS}:5432/${POSTGRES_DB}

JWT_SECRET=your-secure-random-secret-here
INTERNAL_SECRET=your-secure-internal-secret-here
SERVICE_URL_NEXTJS=https://localhost
NEXT_PUBLIC_GAMESERVER_URL=https://localhost
